/* DESKTOP */
/* Over 1600px Screen */
@media (min-width: 100.1em) {
  html {
    /* 15px per rem */
    font-size: 93.75%;
  }
}
/* 1600px Screen and below */
@media (max-width: 100em) {
  html {
    /* 13px per rem */
    font-size: 81.25%;
  }
}
/* 1500px Screen and below */
@media (max-width: 93.75em) {
  html {
    /* 12px per rem */
    font-size: 75%;
  }
}
/* 1400px and below */
@media (max-width: 87.5em) {
  html {
    /* 11px per rem */
    font-size: 68.75%;
  }
}
/* 1300px and below */
@media (max-width: 81.25em) {
  html {
    /* 10px per rem */
    font-size: 62.5%;
  }
}
/* 1100px and below */
@media (max-width: 68.75em) {
  html {
    /* 9px per rem */
    font-size: 56.25%;
  }
}

/* 900px and below */
@media (max-width: 56.25em) {
  html {
    /* 8px per rem} */
    /* font-size: 50%; */
  }
  .nav_list-items {
    padding-right: 4rem;
  }

  .home_text-area {
    flex: 1.2;
  }

  .home_section main {
    flex-direction: column;
  }

  .home_text-area h2 {
    font-size: 2rem;
    text-align: center;
  }

  .space_text {
    font-size: 6rem;
  }

  .text_primary {
    line-height: 2rem;
  }

  .home_text-area p {
    width: 30rem;
    text-align: center;
    padding: 0 2rem;
  }

  .home_image {
    width: 17.5rem;
    height: 17.5rem;
  }
}

/* 800px and below */
@media (max-width: 50em) {
  .destination_contents {
    flex-direction: column;
  }

  .destination_image {
    width: 150px;
  }

  .crew_contents {
    flex-direction: column;
  }

  .crew_text-area,
  .crew_image-area {
    border: 2px solid red;
    /* height: 50%; */
  }
  /* .crew_image--1 {
    width: 150px;
  } */
}

/* 700px and below */
@media (max-width: 43.75em) {
  html {
    /* 7px per rem */
    /* font-size: 43.75%; */
  }
  .nav_list-items {
    display: none;
  }
  .mobile-nav {
    display: flex;
    color: #fff;
  }
}

/* 500px and below */
@media (max-width: 31.25em) {
  html {
    /* 6px per rem */
    /* font-size: 37.5%; */
  }
}

@media (max-width: 28.125em) {
  .mobile-list-item {
    font-size: 1.3rem;
  }

  .mobile-list-item a span {
    font-size: 2rem;
  }
}
/* 300px and below */
@media (max-width: 18.75em) {
  html {
    /* 5px per rem */
    /* font-size: 31.25%; */
  }
}
