/* DESKTOP */
/* Over 1600px Screen */
@media (min-width: 100.1em) {
  html {
    /* 15px per rem */
    font-size: 93.75%;
  }
}
/* 1600px Screen and below */
@media (max-width: 100em) {
  html {
    /* 13px per rem */
    font-size: 81.25%;
  }
}
/* 1500px Screen and below */
@media (max-width: 93.75em) {
  html {
    /* 12px per rem */
    font-size: 75%;
  }
}
/* 1400px and below */
@media (max-width: 87.5em) {
  html {
    /* 11px per rem */
    font-size: 68.75%;
  }
}
/* 1300px and below */
@media (max-width: 81.25em) {
  html {
    /* 10px per rem */
    font-size: 62.5%;
  }
}
/* 1100px and below */
@media (max-width: 68.75em) {
  html {
    /* 9px per rem */
    font-size: 56.25%;
  }
}

/* 900px and below */
@media (max-width: 56.25em) {
  .home_section main {
    row-gap: 2rem;
  }

  nav {
    padding: 1.5rem;
    padding-left: 2rem;
  }

  .nav_logo img {
    width: 35px;
  }

  .nav_list-items {
    padding-right: 4rem;
    gap: 4rem;
  }

  .home_text-area {
    flex: 1.2;
    gap: 2rem;
  }
}

/* 800px and below */
@media (max-width: 50em) {
  main {
    margin-top: 12rem;
  }

  .home_section {
    background: url("../assets/home/background-home-tablet.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home_section main {
    flex-direction: column;
  }

  .home_text-area h2 {
    font-size: 2rem;
    text-align: center;
  }

  .space_text {
    font-size: 6rem;
  }

  .text_primary {
    line-height: 2rem;
  }

  .home_text-area p {
    width: 30rem;
    text-align: center;
    padding: 0 2rem;
  }

  .home_image {
    width: 17.5rem;
    height: 17.5rem;
  }

  .destination_section {
    background: url("../assets/destination/background-destination-tablet.jpg");
    background-size: cover;
  }

  .destination_image {
    width: 150px;
  }

  .destination_list {
    margin-bottom: 2rem;
  }

  .destination_content {
    padding-bottom: 1.25rem;
  }

  .destination_stats {
    padding-top: 1rem;
  }

  .crew_section {
    background: url("../assets/crew/background-crew-tablet.jpg");
  }

  .crew_position {
    font-size: 1.5rem;
  }
  .crew_name {
    font-size: 2.5rem;
  }

  .crew_image {
    width: 16rem;
  }

  .crew_image--2 {
    width: 13.5rem;
  }
  .crew_image--3 {
    width: 17rem;
  }
  .crew_image--4 {
    width: 17rem;
  }

  .technology_section {
    background: url("../assets/technology/background-technology-tablet.jpg");
  }

  .technology_image {
    width: 20rem;
  }

  /* UTILITIES UNDER 800px */
  .destination_contents,
  .crew_contents,
  .technology_contents {
    flex-direction: column;
  }
}

/* 700px and below */
@media (max-width: 43.75em) {
  .nav_list-items {
    display: none;
  }
  .mobile-nav {
    display: flex;
    color: #fff;
  }

  .technology_text-container {
    gap: 1.6rem;
  }
}

/* 600px and below */
@media (max-width: 37.5em) {
  .destination_text-area {
    padding: 1rem 2rem;
  }
  .destination_stats p {
    font-size: 2rem;
  }

  .crew_image--2 {
    width: 13.5rem;
  }
  .crew_image--3 {
    width: 17rem;
  }

  .technology_text-container {
    gap: 1.5rem;
  }

  .technology_lead-header {
    font-size: 3rem;
  }
}
/* 500px and below */
@media (max-width: 31.25em) {
  .home_section {
    background: url("../assets/home/background-home-mobile.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .destination_section {
    background: url("../assets/destination/background-destination-mobile.jpg");
    background-size: cover;
  }
  .crew_section {
    background: url("../assets/crew/background-crew-mobile.jpg");
    background-size: cover;
  }

  .crew_image--1 {
    width: 14rem;
  }
  .crew_image--3 {
    width: 15rem;
  }

  .technology_section {
    background: url("../assets/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .technology_section main {
    width: 95%;
  }

  .technology_lists {
    padding-right: 0;
  }

  .technology_list {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .technology_image {
    width: 17rem;
  }
}

/* 450px and below */
@media (max-width: 28.125em) {
  .destination_list {
    justify-content: center;
  }
  .destination_text-area {
    text-align: center;
  }

  .destination_text-area {
    padding: 1rem;
  }

  .destination_stats {
    justify-content: center;
  }
  .mobile-list-item {
    font-size: 1.3rem;
  }

  .mobile-list-item a span {
    font-size: 2rem;
  }

  .mobile-nav-slide {
    width: 50vw;
  }

  .crew_text-area {
    padding: 1rem 2rem;
  }

  .crew_image {
    width: 14.5rem;
  }

  .crew_image--2 {
    width: 12rem;
  }

  .crew_image--3 {
    width: 13.5rem;
  }
  .crew_image--4 {
    width: 17.5rem;
  }

  .technology_text-container {
    padding-bottom: 1.5rem;
  }

  .technology_lead-header {
    font-size: 2.5rem;
  }
}

/* 365px and below */
@media (max-width: 22.8215em) {
  .destination_image {
    width: 130px;
  }

  .crew_position {
    font-size: 1.3rem;
  }

  .crew_name {
    font-size: 2rem;
  }

  .crew_image {
    width: 13.5rem;
  }

  .crew_image--2 {
    width: 12.5rem;
  }
  .crew_image--4 {
    width: 15.5rem;
  }
  .technology_image {
    width: 16rem;
  }
}

/* 330px and below */
@media (max-width: 20.625em) {
  .crew_image {
    width: 11.5rem;
  }

  .crew_image--1 {
    width: 13.5rem;
  }

  .crew_image--2 {
    width: 11rem;
  }
  .crew_image--3 {
    width: 12.5rem;
  }

  .crew_image--4 {
    width: 15rem;
  }

  .technology_image {
    width: 15rem;
  }
}

/* 300px and below */
@media (max-width: 18.75em) {
  .crew_image--1 {
    width: 12.5rem;
  }

  .crew_image--2 {
    width: 10rem;
  }
  .crew_image--3 {
    width: 12.5rem;
  }

  .crew_image--4 {
    width: 15rem;
  }

  .technology_image {
    width: 12rem;
  }
}
