* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --neutral: #fff;
  --neutral-dark: #ccc;
  --neutral-darker: #999;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--neutral);
  font-family: "Open Sans", sans-serif;
}

/* UTILITIES */
.ta_c {
  text-align: center;
}

.d_f {
  display: flex;
}

.d_g {
  display: grid;
}

.ai_c {
  align-items: center;
}

.ai_fs {
  align-items: flex-start;
}

.jc_c {
  justify-content: center;
}

.jc_sb {
  justify-content: space-between;
}

.jc_se {
  justify-content: space-evenly;
}
.fd_c {
  flex-direction: column;
}

.header_primary {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  gap: 1rem;
  display: flex;
}

.text_primary {
  letter-spacing: 0.1rem;
  font-family: "Open Sans", sans-serif;
  color: var(--neutral-dark);
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-weight: 300;
}

/* UTILITY HEADER STYLING */
.destination_header span,
.crew_header span,
.technology_header span {
  font-weight: 600;
  color: #999999;
}

.home_section,
.destination_section,
.crew_section,
.technology_section {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
}
/* UTILITY ENDING */

/* HOME SECTION STYLING */
.home_section {
  background: url("../assets/home/background-home-desktop.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* NAVIGATION STYLING */
header {
  height: 20%;
  border: 2px solid red;
  position: relative;
}

.test {
  position: relative;
}

nav {
  padding: 2rem 0;
  padding-left: 3rem;
  height: 100%;
}

.nav_list-items {
  backdrop-filter: blur(20px);
  padding-right: 10rem;
  padding-left: 4rem;
  gap: 6rem;
  list-style: none;
  /* transition: 1.5s all ease-in; */
}

.nav_list--item a {
  text-decoration: none;
  padding: 2rem 0rem;
  gap: 1rem;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-family: "Barlow Condensed", sans-serif;
}

.nav_list--item span {
  font-weight: 600;
  color: var(--neutral);
}
.nav_list--item p {
  text-transform: uppercase;
  color: var(--neutral-dark);
}

.nav_list--item:hover {
  border-bottom: 2px solid var(--neutral-dark);
}

/* MAIN SECTION STYLING */
main {
  /* height: 80%; */
}

.home_text-area,
.home_image-area {
  flex: 1;
}

.home_text-area {
  padding: 0 5rem;
}

.home_text-area h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  color: var(--neutral-dark);
}

.space_text {
  font-size: 10rem;
  font-family: "Bellefair", serif;
  color: var(--neutral);
}
.home_text-area p {
  width: 30rem;
}

.home_image-area {
  align-items: center;
  justify-content: center;
}

.home_image {
  width: 25rem;
  height: 25rem;
  background: var(--neutral);
  border-radius: 50%;
  color: #000;
  font-size: 3rem;
  font-family: "Bellefair", serif;
}

.home_image a {
  text-decoration: none;
  color: #000;
}

/* MOBILE NAVIGATION */
.mobile-nav {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 3rem;
  display: none;
  z-index: 3;
  cursor: pointer;
}

.nav-open {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
}

.mobile-nav .nav-close {
  display: none;
}

.mobile-nav-slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  height: calc(100vh - 50px);
  backdrop-filter: blur(40px);
  transform: translateX(100%);
  display: none;
  color: #fff;
}

.mobile-nav.active .mobile-nav-slide {
  display: block;
  transform: translate(0);
}
.mobile-list-slide {
  margin-top: 8rem;
  list-style: none;
}

.mobile-list-item {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

.mobile-list-item a {
  text-decoration: none;
  gap: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
  font-family: "Barlow Condensed", sans-serif;
}

.mobile-list-item a span {
  font-size: 2.5rem;
  color: var(--neutral-darker);
}

/* /////////////////////////////////////
DESTINATION SECTION STYLING
///////////////////////////////////// */
.destination_section {
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.destination_section main {
  width: 90%;

  margin: 0 auto;
  border: 2px solid green;
}

.destination_contents {
  border: 2px solid blue;
  height: auto;
}

.destination_image-area,
.destination_text-area {
  flex: 1;
  padding: 2rem;
}

/*DESTINATION IMAGE AREA STLYING*/
.destination_image-area {
  perspective: 240px;
}

.destination_image {
  width: 320px;
  display: none;
}

/* DESTINATION TEXT AREA STLYING */
.destination_text-area {
  padding: 1rem 4rem;
}

.destination_list {
  list-style: none;
  gap: 2rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.destination_list-item {
  padding-bottom: 5px;
  cursor: pointer;
}
.destination_list-item:hover {
  border-bottom: 2px solid var(--neutral-dark);
}

.selected_destination {
  font-size: 7.5rem;
  font-family: "Bellefair", serif;
  font-weight: 500;
  text-transform: uppercase;
  display: none;
}

.destination_stats {
  gap: 4rem;
  border-top: 1px solid var(--neutral-darker);
  padding-top: 2rem;
}

.destination_distace,
.travel_time {
  gap: 1rem;
}

.destination_stats {
  display: none;
}

.destination_stats span {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--neutral-dark);
}

.destination_stats p {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
}

.destination_content {
  display: none;
}

/* /////////////////////////////////////
CREW SECTION STYLING
///////////////////////////////////// */
.crew_section {
  background: url("../assets/crew/background-crew-desktop.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.crew_section main {
  width: 90%;
  margin: 0 auto;
}

.crew_contents {
  border: 2px solid yellow;
}

.crew_text-area,
.crew_image-area {
  flex: 1;
}

.crew_text-area {
  padding: 1rem 4rem;
  gap: 2.5rem;
}

.crew_position {
  font-size: 2rem;
  color: var(--neutral-dark);
  display: none;
  font-family: "Bellefair", serif;
}

.crew_name {
  font-size: 4rem;
  display: none;
  font-family: "Bellefair", serif;
}

.crew_bio {
  display: none;
}

.crew_buttons {
  list-style: none;
  gap: 1.5rem;
}

.crew_button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--neutral-darker);
}

.crew_button:hover {
  background: var(--neutral);
}

.crew_image {
  max-width: 250px;
  height: 100%;
  display: none;
}
/* 
.crew_image--1 {
  width: 320px;
}
.crew_image--2 {
  width: 300px;
}
.crew_image--3 {
  width: 350px;
}
.crew_image--4 {
  width: 350px;
} */

/* /////////////////////////////////////
TECHNOLOGY SECTION STYLING
///////////////////////////////////// */
.technology_section {
  background: url("../assets/technology/background-technology-desktop.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.technology_section main {
  width: 90%;
  margin: 0 auto;
}

.technology_contents {
  height: 80%;
}

.technology_text-area,
.technology_image-area {
  flex: 1;
}

.technology_lists {
  padding: 2rem;
  list-style: none;
  gap: 1rem;
}

.technology_list {
  padding: 1.35rem 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Bellefair", serif;
}

.technology_text-container {
  gap: 2rem;
  padding: 2rem;
}

.technology_sub-header {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--neutral-darker);
}

.technology_lead-header {
  font-size: 4rem;
  font-family: "Bellefair", serif;
  font-weight: 300;
  display: none;
}

.technology_info {
  display: none;
}

.technology_image {
  width: 350px;
  display: none;
}

/* MOBILE NAV ACTIVE CLASS */
.mobile--active {
  border-bottom: 2px solid #fff;
}

/* JAVASCRIPT ACTIVE CLASSES */
.nav--active {
  border-bottom: 2px solid var(--neutral);
}

.destination_list--active {
  border-bottom: 2px solid var(--neutral);
}

.crew_button--active {
  background: var(--neutral);
}

.technology_list--active {
  background: #fff;
  color: #000;
  font-weight: 600;
}

.active--class {
  display: flex;
}
