.ta_c {
  text-align: center;
}

.d_f {
  display: flex;
}

.d_g {
  display: grid;
}

.ai_c {
  align-items: center;
}

.ai_s {
  align-items: flex-start;
}

.jc_c {
  justify-content: center;
}
.fd_c {
  flex-direction: column;
}

.header_primary {
  padding: 2rem;
  font-size: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  gap: 1rem;
  display: flex;
}

/* UTILITY HEADER STYLING */
.destination_header span,
.crew_header span,
.technology_header span {
  font-weight: 600;
  color: #999999;
}
